.header {
    .user-login-option {
        .new-login {
            color: #000  !important;
        }
    }
}

.register-text {
    background-color: #CC0000 !important;

    a {
        color: white !important;
    }
}

.logo-image {
    height: 67px;
    width: 67px;
    margin-top: 32px;

    @media (max-width: 1200px) {
        height: 50px !important;
        width: 50px !important;
        margin-top: 37px !important;
    }

    @media (max-width: 991px) {
        height: 50px !important;
        width: 50px !important;
        margin-top: -21px !important;
    }

    @media (max-width: 481px) {
        margin-top: -21px !important;
    }
}

.login-1 {
    .logo {
        img {
            margin-bottom: 15px !important;
            height: 57px !important;;
            object-fit: cover !important;;
        }
    }
}

.padding-20 {
    padding: 20px !important;
}

.display-flex {
    display: flex !important;
}

.form-check-inline {
    .profile-radio-button {
        margin: -11px 10px 0 10px !important;
    }
}

.mt-10 {
    margin-top: 10px !important;
}

.avatar-upload {
    position: relative;
    max-width: 144px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
