.header {
    .user-login-option {
        .new-login {
            color: #000  !important;
        }
    }
}

.register-text {
    background-color: #CC0000 !important;

    a {
        color: white !important;
    }
}
